.title-1 {
    font-size:  $family-title-1;
    font-weight: 900;
}

.title-2 {
    font-size:  $family-title-1;
    font-weight: 900;
}

.title-3 {
    font-size: $family-title-2;
    font-weight: 900;
}

.title-4 {
    font-size: $family-title-2;
    font-weight: 700;
}