/* Breakpoints */
/* Sizes */
/* Containers */
/* Colors */
/* Font Family */
/*$family-title: Verdana, $text-helper;*/
/* Font Size */
/* Borders */
*, *::before, *::after {
  box-sizing: border-box;
}

::placeholder {
  color: #6c7177;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  height: 100%;
  min-width: 500px;
  max-width: 1920px;
  margin: 0 auto;
  color: #1B1E2C;
  background-color: #fff;
  font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 22px;
  line-height: 1.25;
  text-align: left;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

dl, dd {
  margin: 0;
}

fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  border-radius: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

table {
  border-collapse: collapse;
}

caption {
  text-align: inherit;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

@media (max-width: 1139px) {
  .d-mobile-none {
    display: none;
  }
}

@media (min-width: 1140px) {
  .d-desktop-none {
    display: none;
  }
}

.container {
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 1140px) {
  .container {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1560px;
  }
}

.btn {
  background: #0276FF;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: "Gilroy", sans-serif;
  padding: 16px 42px;
}

.title-1 {
  font-size: "Gilroy-Heavy", sans-serif;
  font-weight: 900;
}

.title-2 {
  font-size: "Gilroy-Heavy", sans-serif;
  font-weight: 900;
}

.title-3 {
  font-size: "Gilroy", sans-serif;
  font-weight: 900;
}

.title-4 {
  font-size: "Gilroy", sans-serif;
  font-weight: 700;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #2148D2;
}

.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.arcticmodal-container {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.arcticmodal-container + .select2-container {
  z-index: 1005;
}

*:first-child + html .arcticmodal-container {
  height: 100%;
}

.arcticmodal-container_i {
  border-collapse: collapse;
  height: 100%;
  margin: 0 auto;
}

.arcticmodal-container_i2 {
  padding: 36px 6px 6px 6px;
  margin: 0;
  border: 0;
  vertical-align: middle;
}

.arcticmodal-container, .arcticmodal-container_i, .arcticmodal-container_i2 {
  /*overflow: hidden;*/
}

.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #1B1E2C;
  color: #fff;
}

.arcticmodal-loading {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background: #fff url(data:image/gif;base64,R0lGODlhIAAIAKECAEVojoSctMHN2QAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAIAAIAAACFZyPqcvtD6KMr445LcRUN9554kiSBQAh+QQFCgADACwCAAIAEgAEAAACD4xvM8DNiJRz8Mj5ari4AAAh+QQFCgADACwCAAIAHAAEAAACGJRvM8HNCqKMCCnn4JT1XPwMG9cJH6iNBQAh+QQFCgADACwMAAIAEgAEAAACD5RvM8HNiJRz8Mj5qri4AAAh+QQFCgADACwWAAIACAAEAAACBZSPqYsFACH5BAUUAAMALAAAAAAgAAgAAAIOnI+py+0Po5y02ouzPgUAOw==) no-repeat 50% 50%;
}

.intopModal__wrap {
  display: none;
}

.intopModal {
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  max-width: 650px;
  text-align: left;
}
.intopModal ul {
  padding-left: 20px;
}

.intopModal-address {
  min-width: 450px;
}

.intopModal__whiteContent {
  background: #fff;
  padding: 18px;
}

.intopModal__close {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 13px 16px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: 9999;
}

.intopModal__close:hover {
  -webkit-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.intopModal__close:focus {
  outline: none;
}

@media only screen and (min-height: 681px) {
  .arcticmodal-container_i2 {
    padding-top: 56px;
    padding-bottom: 10px;
  }

  .intopModal__close {
    padding: 26px 26px;
  }

  .intopModal__whiteContent {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media only screen and (min-width: 801px) {
  .arcticmodal-container_i2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .intopModal__whiteContent {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.intopModal__closeIcon {
  height: 30px;
  width: 30px;
  fill: #fff;
}

.privacy {
  margin: 0;
  text-align: left;
}

.privacy__h {
  font-size: 15px;
  text-align: center;
}
@media (min-width: 1140px) {
  .privacy__h {
    font-size: 19px;
  }
}

.privacy__text + .privacy__text {
  margin-top: 10px;
}

.privacy__list {
  padding-left: 30px;
  margin: 10px 0;
}

.header {
  background: #0B1C56;
  color: #fff;
}

/*# sourceMappingURL=common.css.map */
